.App {
  height: 100vh;
  background-color: #EDE6DE;
  overflow: scroll;
  text-align: center;
}

.container {
  height: 100%;
  background-color: #EDE6DE;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.header-container {
  padding-top: 30px;
}

.header {
  margin: 0;
  font-size: 50px;
  font-weight: bold;
}

.sub-text {
  font-size: 20px;
}

.gradient-text {
  background: -webkit-linear-gradient(left, #833921 35%, #E4D9C5 80%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 1rem 0rem;
}

.cta-button {
  height: 45px;
  border: 0;
  width: auto;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  color: white;
  margin: 2rem 0rem;
}

.connect-wallet-button {
  background: -webkit-linear-gradient(left, #833921, #E4D9C5);
  background-size: 200% 200%;
  animation: gradient-animation 6s ease infinite;
}

.mint-button {
  background: -webkit-linear-gradient(left, #a200d6, #ff6fdf);
  background-size: 200% 200%;
  animation: gradient-animation 4s ease infinite;
  margin-right: 15px;
}

.opensea-button {
  background-color: rgb(32, 129, 226);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0.5rem 1rem;
}

.opensea-button img {
  padding: 0rem 0.5rem;
}


.mint-count {
  color: white;
  font-size: 18px;
  font-weight: bold;
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
}

.twitter-logo {
  width: 30px;
  height: 30px;
}

.opensea-cta{
  display: flex;
  justify-content: space-evenly;
}

.opensea-cta a {
  text-decoration: none;
}

.totalNFTLabel {
  font-size: 20px;
}

.totalNFTNumber{
  font-size: 40px;
}

.footer-text {
  color: #363634;
  font-size: 16px;
  font-weight: bold;
}

/* KeyFrames */
@-webkit-keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 80% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 80% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 80% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
