body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  font-family: 'Press Start 2P', sans-serif;
}

button {
  font-family: 'Press Start 2P', sans-serif;
}


body {
  padding: 0;
  font-family: 'Press Start 2P', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #363634;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
